@{
    ViewBag.Title = "Comments";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using ErdemYeniWeb.ViewModels
@using ErdemYeniWeb.Models.Blog
@model AdminCommentsModel
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Blogs
            </header>
            <div class="panel-body">
                <section id="unseen">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th class="numeric">Blog Title</th>
                                <th class="numeric">PersonName</th>
                                <th class="numeric">PersonMail</th>
                                <th class="numeric">CreateDate</th>
                                <th class="numeric">Content</th>
                                <th class="numeric">Verifering</th>
                                <th class="numeric"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Comment item in Model.comments)
                            {
                                <tr id="@item.Id">
                                    <td class="numeric">@item.Blog.Title</td>
                                    <td class="numeric">@item.PersonName</td>
                                    <td class="numeric">@item.PersonMail</td>
                                    <td class="numeric">@item.CreateDate</td>
                                    <td class="numeric">@item.Content</td>
                                    <td class="numeric">
                                        @if (item.Verifery)
                                        {
                                            <a class="btn btn-info" onclick="commentVerifery('@item.Id','false')">Set Deny</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-warning" onclick="commentVerifery('@item.Id','true')">Set Allow</a>
                                        }
                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-xs" onclick="commentEditOpen('@item.Id')"><i class="icon-pencil"></i></a>
                                        <a class="btn btn-danger btn-xs" onclick="commentDelete('@item.Id')"><i class="icon-trash "></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </section>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="dataTables_info" id="editable-sample_info">20 comments showing per page (Total comments count is @Model.itemCount)</div>
    </div>
    <div class="col-lg-6">
        <div class="dataTables_paginate paging_bootstrap pagination">
            <ul>
                <li class="prev @((Model.selectPage == Model.minPage)? "disabled":"")">
                    <a href="@Url.Action("Comments","Admin",new { id = Model.selectPage-1 })">← Prev</a>
                </li>
                @for (int i = Model.minPage; i <= Model.totalPage; i++)
                {
                    <li class="@((Model.selectPage == i)?"active":"")">
                        <a href="@Url.Action("Comments","Admin",new { id = i })">@((i < 10) ? "0" + i.ToString() : i.ToString())</a>
                    </li>
                }
                <li class="next @((Model.selectPage >= Model.totalPage)? "disabled":"")">
                    <a href="@Url.Action("Comments","Admin",new { id = Model.selectPage+1 })">Next → </a>
                </li>
            </ul>
        </div>
    </div>
</div>
@Scripts.Render("~/js/admin/BlogComment")